{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    {% include 'snippets/profile-header.html' %}
    {% for gamecard in gamecards %}
        <div class="d-flex w-100 justify-content-between align-items-center bg-dark rounded p-2 mt-1">
            <div class="d-flex align-items-center">
                <div class="d-flex">
                    <img src="{{  gamecard.game.cover_url }}" alt="{{ game.name }} cover" width="100" height="100"
                         class="border rounded-3">
                </div>
                <div class="text-white text-uppercase px-4 fs-5">
                    {{ gamecard.game.name }}
                </div>
                <div>
                    {% if gamecard.is_finished %}
                    <span class="badge rounded-pill bg-success">Finished</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-start align-items-center">
                <div class="d-flex justify-content-end">
                    <div>
                        <a class="btn btn-primary" href="{% url 'players_app:gamecard_detail' gamecard.pk %}"><b>Show Card</b></a>
                    </div>
                    {% if user.profile == profile or user.profile.is_admin %}
                        <div class="px-2">
                            <a class="btn btn-warning" href="{% url 'players_app:gamecard_update' gamecard.pk %}"><b>Update Card</b></a>
                        </div>
                        <div>
                            <a class="btn btn-danger" href="{% url 'players_app:gamecard_delete' gamecard.pk %}"><b>Delete Card</b></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {%  endfor  %}
{% endblock %}