{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="d-flex flex-column justify-content-center w-100 bg-dark mt-1 p-2 rounded">
        <div class="d-flex w-100 justify-content-start p-3 border border-white rounded">
            <div class="d-flex w-100 justify-content-start">
                <div class="d-flex flex-column justify-content-start align-items-center"
                     style="width: 30%;">
                    <img src="{{  game.cover_url }}" alt="{{ game.name }} cover" width="200" height="200"
                         class="border border-white border-2 rounded-3">
                    {% if user.is_authenticated %}
                    <div class="d-flex justify-content-start mt-3">
                        <a class="btn btn-primary me-3 border-white" href="{% url 'players_app:gamecard_list_by_game' game.pk %}"><b>All Game Cards</b></a>
                        {% if not gamecard_pk  %}
                        <a class="btn btn-warning border-white" 
                           href="{% url 'players_app:gamecard_create' %}?game_pk={{ game.pk }}&profile_pk={{ user.profile.pk }}">
                           <b>Add to My Profile</b></a>
                        {% else %}
                            <a class="btn btn-success border-white" 
                           href="{% url 'players_app:gamecard_detail' gamecard_pk %}"><b>My Game Card</b></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="flex flex-column fs-3 text-white" style="width: 70%;">
                    <div class="fs-1 text-uppercase ms-2">
                        {{ game.name }}
                    </div>
                    <div class="text-white mt-2 ms-3">
                        <div class="row">
                             <div class="col-2">
                                 Year:
                            </div>
                            <div class="col ms-1">
                                {{ game.year }}
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-2">
                                 Rating:
                            </div>
                            <div class="col ms-1">
                                {{ game.rating_text }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                 Genre:
                            </div>
                            <div class="col ms-1">
                                {{ game.get_genres_names }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                 Perspective:
                            </div>
                            <div class="col ms-1">
                                {{ game.get_perspectives_names }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                 Franchise:
                            </div>
                            <div class="col ms-1">
                                {{ game.franchise_text }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-100 fs-3 text-white border border-white rounded p-2">
            <b>Summary:</b>
            <div class="rounded p-1 fs-4">
                {{ game.summary }}
            </div>
        </div>
    </div>
{% endblock %}