<style>
    li {margin-left: 2em;}
</style>
    <nav class="navbar w-100 fs-5 navbar-expand-lg navbar-dark ps-2 bg-dark rounded">
        <a class="navbar-brand fs-4 text-white" href="{% url 'homepage' %}">MY GAME DIARY</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'games_app:game_list' %}">Game Database</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link text-white" href="{% url 'players_app:profile_list' %}">Our Players</a>
                    </li>
                {% endif %}
                {% if user.profile.is_admin %}
                    <li>
                        <a class="nav-link text-warning" href="{% url 'games_app:game_add' %}">Add a New Game</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                       <a class="nav-link text-white" href="{% url 'players_app:user_login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link text-white" href="{% url 'players_app:user_register' %}">Register</a>
                    </li>
                {% else %}
                    <div class="d-flex align-items-center">
                    {% include 'snippets/profile-logo-small.html' %}
                    </div>
                    <span class="navbar-text text-white">
                        {{ user }}
                    </span>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'players_app:profile' user.profile.pk %}">My Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'players_app:user_logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
