{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <style>
        .homepage {
            background-image: url("{% static '/img/homepage_image.jpg' %}");
            background-size: cover;
            height: 79vh;
        }
    </style>
    <div class="homepage d-flex flex-column w-100 rounded mt-1 text-white"> 
        <div class="d-flex flex-column justify-content-center align-items-center"
             style="height: 70%;">
            <div class="text-center">
                <div class="text-uppercase" style="font-size: 60px;">
                    My Game Diary
                </div>
                <div class="fs-3 mt-2 px-1 bg-dark rounded">
                    A Place to Store Your Video Gaming Memories
                </div>
            </div>
        </div>
        <div class="d-flex flex-column border-top border-white p-2 fs-2 rounded align-items-center justify-content-center"
             style="height: 30%;">
            <div class="row w-100 text-center">    
                <div class="col-4">
                    AVAILABLE GAMES
                </div>
                <div class="col-4">
                    TOTAL PLAYERS
                </div>
                <div class="col-4">
                    GAME CARDS CREATED
                </div>
            </div>
            <div class="row w-100 text-center fs-1">    
                <div class="col-4">
                    {{ total_games }}
                </div>
                <div class="col-4">
                    {{ total_players }}
                </div>
                <div class="col-4">
                    {{ total_gamecards }}
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/homepage_footer.html' %}
{% endblock %}
