{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    {% if user_has_rights %}
        <div class="row">
            <div class="col-3">
                <b>Parameter</b>
            </div>
            <div class="col-3">
                <b>Value</b>
            </div>
        </div>
        {%  for param_key, param_value in request.session.items %}
            <div class="row">
                <div class="col-3">
                    {{ param_key }}
                </div>
                <div class="col-3">
                    {{ param_value }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include 'snippets/access-denied.html' %}
    {% endif %}
{% endblock %}